{% extends 'final/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Crear Nueva Banda</h2>
    <form method="POST" class="col-md-6">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre de la Banda:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Crear</button>
        <a href="{% url 'listar_bandas' %}" class="btn btn-secondary mt-3">Volver</a>
    </form>
</div>
{% endblock %}
