{% extends 'final/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-md-6 genre-box" style="background: url('{% static 'final/img/index.png' %}') no-repeat center center; background-size: cover;">
            <a href="{% url 'numetal' %}" class="genre-link">Nu Metal</a>
        </div>
        <div class="col-md-6 genre-box" style="background: url('{% static 'final/img/index2.png' %}') no-repeat center center; background-size: cover;">
            <a href="{% url 'trashmetal' %}" class="genre-link">Thrash Metal</a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-6 genre-box" style="background: url('{% static 'final/img/index3.png' %}') no-repeat center center; background-size: cover;">
            <a href="{% url 'deathmetal' %}" class="genre-link">Death Metal</a>
        </div>
        <div class="col-md-6 genre-box" style="background: url('{% static 'final/img/index4.png' %}') no-repeat center center; background-size: cover;">
            <a href="{% url 'instructores' %}" class="genre-link">Instructores</a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-6 genre-box" style="background: url('{% static 'final/img/metal.png' %}') no-repeat center center; background-size: cover;">
            <a href="{% url 'metal' %}" class="genre-link">Metal</a>
        </div>
    </div>
</div>

<style>
    .genre-box {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
    
    .genre-box:hover {
        transform: scale(1.02);
        z-index: 1;
    }
    
    .genre-link {
        color: white;
        font-size: 2em;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
        font-family: 'KornFont', sans-serif;
        padding: 15px 30px;
        background: rgba(88, 40, 40, 0.7);
        border: 2px solid white;
        transition: all 0.3s ease;
    }
    
    .genre-link:hover {
        color: white;
        background: rgba(120, 60, 60, 0.8);
        transform: scale(1.1);
    }
</style>
{% endblock %}